[core]
    quotepath = false
[push]
    default           = simple
    recurseSubmodules = on-demand
[color]
    ui = auto

[pretty]
    tree = %C(auto) %h %d %C(blue) %s %C(reset)BY %cn [%cr]

[alias]
    lg   = log --color --pretty=tree --graph
    lgf  = lg  --name-only --summary --author
    st   = status
    ci   = commit -m
    camd = commit --amend
    co   = checkout
    pr   = pull --rebase
    # 8 hrs
    cc   = config credential.helper 'cache --timeout=28800'
    au   = add -u
    aa   = add -A
    df   = diff
    pu   = push
    br   = branch
    mg   = merge
    sh   = stash

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[includeIf "hasconfig:remote.*.url:https://gitlab.lidig.com/**"]
	path = ~/.config/git/git-ld
[includeIf "hasconfig:remote.*.url:git@gitlab.lidig.com:*/**"]
	path = ~/.config/git/git-ld
[includeIf "hasconfig:remote.*.url:https://github.com/**"]
	path = ~/.config/git/git-github
[includeIf "hasconfig:remote.*.url:git@github.com:*/**"]
	path = ~/.config/git/git-github
