[core]
  quotepath = false
[user]
	email = linxray@gmail.com
	name = Ray
[push]
	default           = simple
  recurseSubmodules = on-demand
[color]
	ui = auto

[pretty]
  tree = %C(auto) %h %d %C(blue) %s %C(reset)BY %cn [%cr]

[alias]
  lg   = log --color --pretty=tree --graph
  lgf  = lg  --name-only --summary --author
  st   = status
  ci   = commit -m
  camd = commit --amend
  co   = checkout
  pr   = pull --rebase
  # 8 hrs
  cc   = config credential.helper 'cache --timeout=28800'
  au   = add -u
  aa   = add -A
  df   = diff
  pu   = push
  br   = branch
  mg   = merge
  sh   = stash


[credential "https://github.com"]
	username = linxray@gmail.com

[credential "http://ddns.wzxjkj.com"]
	username = worksangeshitou@163.com

[credential "http://work.lidig.com:8088"]
	username = chenlei@lidig.com

[diff "pandoc"]
  textconv=pandoc --to=markdown
  prompt = false
